#root .watch-video-page > .watch-video-section > .video-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
#root .watch-video-page > .watch-video-section > .video-wrapper > .video {
  position: relative;
  width: 100%;
}
#root .watch-video-page > .watch-video-section > .video-wrapper > .video video {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}
#root .watch-video-page > .watch-video-section > .video-wrapper > .video > .video-controller {
  width: 50%;
  height: 33px;
  position: absolute;
  bottom: 17px;
  left: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#root .watch-video-page > .watch-video-section > .video-wrapper > .video > .video-controller > .video-play-btn {
  font-size: 18px;
  color: white;
}
#root .watch-video-page > .watch-video-section > .video-wrapper > .video > .video-controller > .video-mute svg {
  background-color: rgba(0, 0, 0, 0.7);
}
#root .watch-video-page > .watch-video-section > .video-wrapper > .video > .video-controller > .video-mute svg path {
  color: white;
  font-size: 18px;
}
#root .watch-video-page > .watch-video-section > .video-wrapper > .video > .video-controller > .video-timeline {
  width: 100%;
}
#root .watch-video-page > .watch-video-section > .video-wrapper > .video > .video-controller > .screen-btn {
  color: white;
  background-color: transparent;
}
#root .watch-video-page > .watch-video-section > .video-wrapper > .video-owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
}
#root .watch-video-page > .watch-video-section > .video-wrapper > .video-owner img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#root .watch-video-page > .watch-video-section > .video-wrapper > .video-owner > .owner-nickname {
  font-weight: 700;
}
#root .watch-video-page > .watch-video-section > .video-wrapper > .video-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
#root .watch-video-page > .watch-video-section > .video-wrapper > .video-info > .video-hashtags {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
}